@use '../../../styles/mixins/button';
@use '../../../styles/mixins/common';
@use '../../../styles/mixins/font';
@use '../../../styles/vars';

.reset-pass-form {
  @include common.flex(column, flex-start, stretch, 30px);

  & > button {
    @include button.button-primary;
    @include font.button(vars.$large);
    height: 50px;

    @include common.media(vars.$mobile) {
      @include font.button(vars.$small);
      height: 40px;
    }
  }

  & > p {
    @include font.body(vars.$large);
    color: vars.$gray;
  }
}

.reset-pass-form__inputs-list {
  @include common.flex(column, flex-start, stretch, 20px);
}
