@use '../../../styles/mixins/common';
@use '../../../styles/mixins/font';
@use '../../../styles/vars';

$dropdown-menu-height: 150px;

.user-box_container {
  @include common.flex(row, flex-end, center, 16px);
  position: relative;
  margin-left: auto;
  height: 58px;

  &:hover .user-box__dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  @include common.media(vars.$tablet-large) {
    display: none;
  }

  & > p {
    @include font.subtitle(vars.$small);
  }

  & > img {
    box-shadow: vars.$plate-shadow;
    border-radius: 50%;
    width: 60px;
    max-height: 60px;
    object-fit: cover;
    cursor: pointer;
  }
}

.user-box__avatar-box {
  box-shadow: vars.$plate-shadow;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  overflow: hidden;

  & img {
    object-fit: cover;
  }
}

.user-box__dropdown-menu {
  @include common.flex(column, flex-start, flex-end, 16px);
  @include font.font(18px, 28px, 700);
  padding: 32px 24px;
  position: absolute;
  bottom: -($dropdown-menu-height + 5px);
  left: 0;
  width: 100%;
  height: $dropdown-menu-height;
  border-radius: 10px;
  background-color: vars.$white;
  box-shadow: vars.$plate-shadow;
  transform-origin: top;
  z-index: 4;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);

  & > li {
    cursor: pointer;

    &:hover {
      color: vars.$orange;
    }
  }
}
