@use '../../styles/mixins/common';
@use '../../styles/vars';

.profile-page__main {
  margin-top: 60px;

  @include common.media(vars.$tablet-large) {
    margin-top: 30px;
  }

  // styles for wrapper
  & > div {

    // styles for MainNavigation
    & > nav {
      @include common.media(vars.$tablet-large, min-width) {
        display: none;
      }
    }
  }
}
