@use '../../../styles/mixins/common';
@use '../../../styles/mixins/button';
@use '../../../styles/mixins/font';
@use '../../../styles/mixins/animation';
@use '../../../styles/vars';

.comments-list__box {
  @include common.flex(column, flex-start, stretch, 42px);
  max-height: none;
  visibility: visible;
  opacity: 1;
  overflow: hidden;
  transition: all 1s;

  @include common.media(vars.$mobile-medium) {
    gap: 32px;
  }

  &.comments_hidden {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
  }
}

.comments-list__button {
  @include button.button-primary;
  @include font.button(vars.$large);
  margin-top: 20px;
  width: 350px;
  height: 50px;

  @include common.media(vars.$tablet) {
    width: 100%;
  }

  @include common.media(vars.$tablet-small) {
    @include font.button(vars.$small);
    height: 40px;
  }

  &.button_edit {
    @include button.button-secondary;
  }
}
