@use './common';
@use './button';
@use './font';
@use '../vars';

@mixin submit-box {
  @include common.flex(column, flex-start, stretch, 15px);

  & > button {
    @include button.button-primary;
    @include font.button(vars.$large);
    height: 50px;

    @include common.media(vars.$tablet-small) {
      @include font.button(vars.$small);
      height: 40px;
    }
  }

  & > p {
    @include common.flex(row, flex-start, center);
    @include font.body(vars.$large);
    flex-wrap: wrap;
    column-gap: 15px;
    color: vars.$gray;

    & > a {
      @include button.button-tertiary(vars.$direct);
      @include font.button(vars.$small);
      height: 25px;
      color: vars.$dark;
    }
  }
}
